# USB rules for MD380Tools.
# Place this in /etc/udev/rules.d/ to let root and users talk to the radios by USB but not "others".

# Tytera MD380 Radio
ACTION=="add", SUBSYSTEM=="usb_device", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="df11", MODE="0660"
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0483", ATTR{idProduct}=="df11", MODE="0660"

